.bmr-calculator {
    max-width: 350px;
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    box-shadow: 0 8px 10px;
    background: #fbdcd0;
    border-radius: 20px;
}

.bmr-calculator,
.bmr-calculator * {
    box-sizing: border-box
}

.bmr-calculator form .height,
.bmr-calculator form .weight {
    position: relative;
}

.bmr-calculator form .unit {
    position: absolute;
    right: 20px;
    top: 45px;
    color: #777;
}

.bmr-calculator form input[type='text'] {
    width: 100%;
    padding: 4px 16px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
}

.calculate-btn {
    padding: 8px 24px;
    margin: 16px 0;
    font-size: 18px;
    background-color: dbd8d8;
}

.calories {
    color: black;
    font-size: 40px;
    margin-right: 10px;
    font-weight: bold;
    vertical-align: middle;
}

body {
    background-image: linear-gradient(to right,  #ec551b, #fad5c6);
    display: flex;
    justify-content: center;
}

.calculate-btn {
    padding: 10px 24px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    box-shadow: 0 1px 3px;
}

input[type='radio']{
    cursor: pointer;
}